body{
    margin: 0;
}
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown-content{
    display: none;
    position: absolute;
    /* background-color: rgba(245, 246, 248, 0.116); */
    /* box-shadow: 0px 8px 16px 0px rgb(18, 39, 53); */
    z-index: 1;
    width: 100%;
    
}
.ul1{
    list-style-type: none;
    padding: 0;

}
.li1{
    padding: 8px 12px;
    

}
.linkline{
    text-decoration: none ;
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
.dropdown:hover .dropdown-content{
    display: flex;
}
.nav-container{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 30px;
    padding-left: 20px;
    /* height: 80px; */
    z-index: 1000;
    background-color: rgba(245, 245, 220, 0.219);
}

.nav-ul{
    display: flex;
    list-style: none;
    gap: 55px;
    font-size: 15px;


   
}
.text1{
    color: white;
    font-weight: 900;
    height: 20px;
    position: relative;
    margin-top: -2px;
    text-decoration: none;
    width: px;
}

.tes{
    width: 100px;
    position: relative;
    top: 8px;
    height: vh;
}

.nav-li{
    cursor: pointer;
    transition: 0.5s;
    padding: 3px 10px;
    font-size: 15px;
    color: white;

}
.nav-li:hover{
    color: rgb(242, 242, 251);
    border: 0px solid blue;
    background-color: rgb(63, 140, 240);
    border-radius: 50px;
    
}
.btn1{
    margin-right: 40px;
    color:rgb(251, 249, 249);
    background-color: rgb(69, 128, 237);
   border: none;
   margin-top: -2px;
    width: 90px;
    height: 30px;
    font-weight: 900;
    border-radius: 10px;
  
}
.btn1:hover{
    background-color: blue;
    transition: 0.5s;

}
.image1{
    background-image: url(./asset/tesla\ 1.avif);
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: -35px;
    
}
.text{
    text-align: center;
    position: relative;
    top: 200px;
    font-weight: 900;
    font-size: 50px;
    color: white;
}
.text2{
    text-align: center;
    position: relative;
    top: 170px;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
.text3{
    text-align: center;
    position: relative;
    top: 140px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    
}
.image2{
    background-image: url(./asset/tesla2.avif);
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: -35px;
}
.image3{
    background-image: url(./asset/tesla8.avif);
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: -35px;
}
.image4{
    background-image: url(./asset/tesla3.avif);
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: -35px;
}
.image5{
    background-image: url(./asset/tesla6.avif);
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: -34px;
}
.image6{
    background-image: url(./asset/tesla7.avif);
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: -35px;
}
.image7{
    background-image: url(./asset/tesla4.avif);
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: -25px;
    margin-top: -228px;
}
.last{
    background-color: black;
    color: white;
    margin-top: -35px;
    text-align: center;
    justify-self: center;
    font-size: 14px;
   

}
.footer{
    list-style: none;
    display: flex;
    gap: 20px;
    /* margin-left: 150px; */
    justify-self: center;
    text-align: center;
    /* margin-left: px; */
    padding-bottom: 20px;
    justify-content: center;
}
.mbtn{
    position: relative;
    top: 620px;
    text-align: center; 
   

}
.b1{
    color: white;
    width: 250px;
    background-color: rgb(61, 147, 233);
    font-weight: 900;
    height: 5vh;
    border-radius: 5px;
    border: none;
}
.b2{
    color: rgb(10, 12, 142);
    width: 250px;
    font-weight: 900;
    height: 5vh;
    border-radius: 5px;
    border: none;
}  


